body {
	margin: 0; padding: 0;
	font-family: Overpass, sans-serif;
	background-color: #333;
	color: white;
	overflow-x: hidden;
}

a:link {
	color: white;
	outline: none;
	transition: all .5s;
}
a:visited {
	color: white;
}
a:hover {
	color: #ccc;
	transition: all .5s;
}
a:active {
	color: #999;
	outline: none;
	transition: all .5s;
}

.centered {
	text-align: center;
}
.centered * {
	margin: 0 auto;
}

.header, .content {
	margin: 64px 8px;
}
.avatar {
	height: 128px;
	margin: 16px;
}
.avatar > img {
	box-sizing: border-box;
	height: 100%;
	border: 8px solid white;
	border-radius: 100%;
}

.social {
	width: 110%;
	margin-left: -5%;
	padding: 32px 0;
	transform: skewY(-3deg);
	backface-visibility: hidden;
	background: linear-gradient(#e12300, #3333ff);
	box-shadow: inset 0 0px 11px 0px black;
}
.social * {
	transform: skewY(3deg);
}
.fa {
	display: inline-block;
	width: 1.2em; height: 1.2em;
	margin: 4px; padding: 4px;
	font-size: 2em !important;
	line-height: 1.3em !important;
	color: rgba(240, 240, 240, 0.7);
	border: 4px solid rgba(240, 240, 240, 0.7);
	border-radius: 4em;
	transition: all .5s;
}
.social > a:hover .fa {
	color: /* #ccc; */ rgba(255, 255, 255, 0.9);
	border-color: /* #ccc; */ rgba(255, 255, 255, 0.95);
	box-shadow: 0 0 8px black;
	text-shadow: 0 0 8px black;
	transition: all .5s;
}
.social > a:active .fa {
	color: /* #999; */ rgba(255, 255, 255, 1);
	border-color: /* #999; */ rgba(255, 255, 255, 1);
	box-shadow: 0 0 8px #ffff7f;
	transition: all .5s;
}

#about > p {
	margin: 0 auto; padding: 0 12px;
	max-width: 720px;
}
